<h1>Корзина покупателя</h1>

<table> 
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Price</th>
  </tr>
  <% for basket in @basket %>
    <tr>
      <td><%= basket.good.name %></td>
      <td><%= basket.count %></td>
      <td><%= basket.good.price %></td>
  

    </tr>
  <% end %>
</table>


<br/><br/><br/>
<%= button_to 'Удалить все товары из корзины', delete_all_goods_path %>
