<script>
//$(function(){
//  $('.buy_action').click(function(){
//    id_good = $(this).attr('id');  
//    count_good = $(this).parent().parent().find('.select_count_class').first().val();//.val();
//    $.ajax({
//      type: 'POST',
//      url: '/goods/'+id_good+'/buy?count_good='+count_good,
//      complete: function(msg) {
//        alert('Товар добавлен в корзину');
//      }
//    })
//    //alert("Покупается кол-во = "+  $('#select_count_id').val());
//  })
//})
</script>

<% title "Goods" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for good in @goods %>
    <tr>
      <td><%= good.name %></td>
      <td><%= good.price %></td>
      <td><%= button_to "Положить в корзину", buy_good_path(good.id), :remote => true %></td>
  

    </tr>
  <% end %>
</table>

